<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limeri.leon">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/leon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".InformacionActivity" />
        <activity android:name=".MatricesActivity" />
        <activity
            android:name=".SelecPacienteActivity"
            android:label="Pacientes"
            android:theme="@style/AppTheme" />
        <activity android:name=".ExamenActivity" />
        <activity android:name=".FiguraIncompletaActivity" />
        <activity android:name=".AdivinanzasActivity" />
        <activity android:name=".AritmeticaActivity" />
        <activity android:name=".DigitosActivity" />
        <activity android:name=".BqSimbolosActivity" />
        <activity android:name=".InicioJuegoActivity" />
        <activity android:name=".LetrasYNumerosActivity" />
        <activity android:name=".VocabularioActivity" />
        <activity android:name=".ComprensionActivity" />
        <activity android:name=".SemejanzasActivity" />
        <activity android:name=".ValorExamenActivity" />
        <activity android:name=".ValorJuegoLibreActivity" />
        <activity android:name=".ClavesActivity" />
        <activity
            android:name=".PopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".AnimalesActivity" />
        <activity android:name=".CubosActivity" />
        <activity android:name=".ConceptosActivity" />
        <activity android:name=".ResumenActivity" />
        <activity
            android:name=".PuntuacionDirectaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PerfilEscalaresActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".HistoricoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CargaManualActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".EstadisticasActivity" />
        <activity android:name=".GraficoActivity" />
        <activity android:name=".PerfilCompuestasActivity"/>
    </application>

</manifest>